extends layout

block content
  main
    .container
      if story
        p #{story[0].body}

      if links[0]
        p Här är links
        ul
          each link in links
            if link.story_id == story[0].id
              li
                a(href='./' + link.target_id)= link.description
      else
        a(href='./1') Börja om