extends layout

block content
  h1(style='text-align: center; margin-top: 20px;') Är du redo att spela? I så fall, klicka på länken under!
  a(href='/game/1' style='display: block; text-align: center;') Spela