extends layout

block content
  main
    nav.navbar
      h1.navbar__title Flickan med svavelstickorna
    .sign
      .sign__container
        .story-container
          p.story
        button.option#option1
          p.option__text
        button.option#option2
          p.option__text