extends layout

block content
  main
    nav.navbar
      h1.navbar__title Flickan med svavelstickorna
    .sign
      .sign__container
        .story-container
          p.story= story ? story[0].body : "Det ska vara en del av sagan här men något har uppenbarligen gått fel 🤔"
        .link-container
        each link, index in links
          if link
            a(href='./' + link.target_id)= link.description
    svg(width="162" height="273" viewbox="0 0 162 273" fill="none" xmlns="http://www.w3.org/2000/svg")
      rect(x="51" width="60" height="273" fill="#C4C4C4")
      path(d="M51 0H0L51 33V0Z" fill="#C4C4C4")
      path(d="M111 0H162L111 33V0Z" fill="#C4C4C4")
    
    //-.container
      if story
        p #{story[0].body}

      if links[0]
        p Här är links
        ul
          each link in links
            if link
              li
                a(href='./' + link.target_id)= link.description
      else
        a(href='./1') Börja om