extends layout

block content
  main
    .container
      h1 HEJ
      if story
        p H채r 채r story
        ul
          each stor in story
            li= stor.body

      if links
        p H채r 채r links
        ul
          each link in links
            if link.story_id == story[0].id
              li= link.description