@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap')

@mixin dfcenter
  display: flex
  justify-content: center
  align-items: center

@mixin br-45
  border-radius: 45px

*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  height: 100vh
  width: 100vw
  font-family: Nunito

a
  text-decoration: none

main
  height: 100vh
  width: 100vw
  background-image: url('../images/christmas-background.png')

.navbar-container
  @include dfcenter
  width: 100%
  padding-top: 40px

.navbar
  background: #93342C
  width: 90%
  height: 50px
  @include dfcenter
  @include br-45

.navbar__title
  font-family: Shadows into light
  text-align: center
  color: white